<head>
<p style="margin-left:1000px">New User?<%= link_to "Sign Up", signup_path %>
<div style="margin-left:420px;font-size:20px">Online Survey Application</div></p>
<div align="left" style="margin-left:400px; margin-top: 35px; background-color:#2E9AFE;border: 1px #e2e2e2 solid; -moz-border-
radius: 0.45em; border-radius: 0.45em; padding: 20px;width: 250px;">
<h1>Sign In</h1>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <p>
    Username:<%= f.text_field :name, :style => 'width: 200px;' %> 
  </p>
  <div class="field">
    Password:<%= f.password_field :password, :style => 'width: 200px;'  %>
  </div><br>
  <div class="actions">
    <%= f.submit "Log In" %>
  </div>
<% end %>
</div>
</head>

