<html>
<h1>Take Survey</h1>
<%= form_for :answer, :url => { action: :create }  do |f| %> 
<head>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css" />
    <script>
    $(function() {
         $( "#datepicker" ).datepicker({
            showOn: "button",
            buttonImage: "/images/calendar.gif",
            buttonImageOnly: true
        });
    });
    
    </script>
</head>
</head>
<body>
<div>
    <% @questions.each_with_index do |question,i| %>
   
   <tr>
    <td><%= i + 1 %></td>
    <%= f.hidden_field :question_id, :value => question.id %>
    <%= f.hidden_field :survay_id, :value => params[:id] %>
    <td><%= question.qus_text %></td></br>
    </tr>
      <% if question.qus_type == "Essay Question" %>
        <td>
         Ans:<br>
         <%= f.text_area :answer, :style => 'width: 350px;height:100px;' %></br>
        </td>
     <% elsif question.qus_type == "Numeric Question" %>
       <td>
         Ans:
         <%= f.text_field :answer, :style => 'width: 50px;' %></br>
       </td>
     <% else %>
       <td>
         Ans:
         <%= f.text_field :answer, :style => 'width: 150px;', :id => :datepicker %></br>
       </td>
     <% end %></br>
     <% end %>
   <p>
    <%= f.submit "Submit", :url => { action: :create } %>
  </p>
 <% end %>
 </div>
</body>
</html>
