<html>
<head>
<div>
<%= render 'layouts/header' %> 
</div>
<div style="background-color:#2E9AFE;color:white;text-align:center;padding-left:20px;margin-left:5px;height:40px;font-size:30px">Survey Application</div>

<ul id="navbar">
<li style="list-style:none;text-align:center"><%= link_to "New Survey",newsurvey_path %></li>
<li style="list-style:none;text-align:center"><%= link_to "Survey List" %></li>
</ul>
<body> 
   <h1>Survey List</h1>
<table border="1">
    <tr>
      <th width="15%"><p align="center"><i><b>Survey Name</b></i></th>
       <th width="15%"><p align="center"><i><b>Survey Description</b></i></th>
       <th width="7%"><p align="center"><i><b>Created</b></i></th>
       <th width="7%">Edit</th>
       <th width="7%">Delete</th>
       <th width="7%">Design</th>
    </tr>
     <% @surveys.each do |survay| %>
     <tr>
      <td align="center"><%= link_to (survay.survey_name), answerindex_path(:id => survay.id) %></td>
       <td align="center"><%= survay.survey_description %></td>
      <td align="center"><%= survay.Created %></td>
      <td align="center"><%= link_to image_tag("/images/edit.gif"), action: :edit, id: survay.id %></td>
      <td align="center"><%= button_to("Delete", {:action => "destroy", :id => survay.id}, :method => :delete) %></td>
      <td align="center"><%= link_to image_tag("/images/design.gif"), qusindex_path(:id => survay.id) %></td>
      </tr>
    <% end %>
   </body
</head>
<html>
 




